@import "../../App.scss";

.container {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  background: #000014;
  display: flex;
  align-items: center;
  justify-content: center;

  video {
    position: absolute;
    height: 100%;
    width: 1200px;
    top: -470px;
    rotate: 180deg;

    @include tablet{
      // justify-content: space-around;

      @include mobile{
        top: -470px;
        }
    }
  }

  h1 {
    font-size: 100px;
    z-index: 2;

    @include tablet{
      // justify-content: space-around;

      @include mobile{
        font-size: 70px;
        }
    }
  }

  .mountains {
    background-image: url("/mountains.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;

    @include tablet{
      // justify-content: space-around;

      @include mobile{
        background-size: contain;
        background-repeat: no-repeat;
        }
    }
  }

  .stars{
    position: absolute;
    background-image: url("/stars.png");
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .planets{
    position: absolute;
    background-image: url("/planets.png");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    z-index: 2;

    @include tablet{
      // justify-content: space-around;

      @include mobile{
        background-size: 900px;
        background-repeat: no-repeat;
        }
    }

    
  }
}
